.group:after
{
  content: "";
  display: table;
  clear: both;
}

#lobby_wrapper, #game_wrapper
{
	margin: 20px auto;
	width: 750px;
}

#games
{
	padding: 10px 20px;
	background: #437DD4;
	width: 500px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
}

#games a
{
	margin: 10px auto;
	display: block;
	background: #6A94D4;
	color: white;
	padding: 20px;
	overflow: auto;
	border-radius:5px;
	-moz-border-radius:5px;
}

#games p
{
	margin: 5px auto;
	display: block;
	color: white;
	padding: 10px;
}

#create_panel
{
	padding: 10px 20px;
	margin-left: 20px;
	background: #FFCB73;
	width: 150px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
}

#create_form
{
	margin: 10px auto;
	display: block;
	text-align: center;
	background: #FFB840;
	color: white;
	padding: 20px;
	overflow: auto;
	border-radius:5px;
	-moz-border-radius:5px;
}

#create_form *
{
	width: 110px;
	margin: 5px 0;
}

#game_wrapper
{
	padding: 10px 20px;
	background: #439400;
	width: 710px;
	height: 500px;
	box-shadow: 10px 10px 5px #888888;
	display: none;
}

#table
{
	height: 450px;
	overflow: auto;
}

#info
{
	text-align: center;
}

#table p
{
	margin: 5px auto;
	color: #A9F16C;
	padding: 15px;
}

#table .cards
{
	background: #64AA2B;
	overflow: auto;
	border-radius:5px;
	-moz-border-radius:5px;
}

#table .cards span
{
	display: inline-block;
	width: 70px;
	text-align: center;
	overflow: auto;
}

#control
{
	text-align: center;
}

#control span
{
	display: inline-block;
	padding: 10px;
	margin: 5px;
	width: 70px;
	background: #64AA2B;
	color: white;
	text-align: center;
	overflow-y: auto;
	border-radius:5px;
	-moz-border-radius:5px;
}

#request
{
	margin: 80px auto;
	width: 500px;
	background: #01939A;
	color: white;
	padding: 15px;
	text-align: center;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 10px 10px 5px #888888;
	display: none;
}