.group:after
{
  content: "";
  display: table;
  clear: both;
}

#wrapper
{
	margin: 20px auto;
	width: 750px;
}

#games
{
	padding: 10px 20px;
	background: #437DD4;
	width: 500px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
}

#games a
{
	margin: 10px auto;
	display: block;
	background: #6A94D4;
	color: white;
	padding: 20px;
	overflow: auto;
	border-radius:5px;
	-moz-border-radius:5px;
}

#games p
{
	margin: 5px auto;
	display: block;
	color: white;
	padding: 10px;
}

#create_panel
{
	padding: 10px 20px;
	margin-left: 20px;
	background: #FFCB73;
	width: 150px;
	box-shadow: 10px 10px 5px #888888;
	float: left;
}

#create_form
{
	margin: 10px auto;
	display: block;
	text-align: center;
	background: #FFB840;
	color: white;
	padding: 20px;
	overflow: auto;
	border-radius:5px;
	-moz-border-radius:5px;
}

#create_form *
{
	width: 110px;
	margin: 5px 0;
}