<!doctype html>
<html>
    <head>
        <meta charset=utf-8>
        <meta name=description content="BlackJack OL">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>BlackJack OL</title>
        <link rel=stylesheet href="css/reset.min.css">
        <link rel=stylesheet href="css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="games">
                <p>Hi {{ user }}, below are all active games. Please click to join.</p>
            </div>
            <div id="create_panel">
                <form id="create_form">
                    <p>New Game:</p>
                    <input type="text" id="create_name" placeholder="Game Name">
                    <input type="text" id="create_max" placeholder="Max Players">
                    <input type="button" id="create_button" value="Create!">
                </form>
            <div>
        </div>
    </body>
</html>